datasets==3.1.0
Flask==3.1.0
librosa==0.10.1
numpy>=1.25,<1.26
llvmlite==0.41.0
numba==0.58.0
onnxruntime==1.19.2
pandas==2.2.3
pydub==0.25.1
pytest==8.3.4
python-dotenv==1.0.1
scikit_learn==1.4.2
soundfile==0.12.1
spotipy==2.24.0


